section#barrio-abierto.propiedades-section
	.img-align
		img.img-barrio_abierto(src='images/barrio_abierto.png')
	img.bg-barrio_abierto(src='images/barrio_abierto_bg.png')
	h3.barrio-abierto-p Lideres Sociales Emergentes nos cuentan su historia de vida en el Barrio
	h2.amatic Historias + Inspiración + Proyectos de vida.
	h3.barrio-abierto-subscribite Subscribite a nuestro canal 
	img.img-barrio_abierto(src='images/YouTube-logo-full_color.png')
	