section.casos
	br
	spans
	h2.u-green CASOS
	.casos-container
		.casos-container-img
			img.container-img(src='images/casos_claudia.png')
			.casos-container-item-left
				h2.u-white.tit-agente-cambio Claudia Mundo
				h3.u-white.u-width-400px  "Ayudamos a los chicos a llegar a su mayo potencial y a poder trazar su camino de vida"
				a.casos-button(href="#casos") Conocé la experiencia!
		.casos-container-img
			img.container-img(src='images/casos_fernanda.png')
			.casos-container-item-right
				h2.u-white.tit-agente-cambio Fernanda Miño
				h3.u-white.u-width-400px "Yo nací vivo y elijo vivir en la cava para ayudar a mis vecinos"
				a.casos-button.u-right(href="#casos") Conocé la experiencia!
		
