section.cover
	#startchange
	h1.u-white.cover-title Mejorar la calidad de la vida de las personas a través de la Integración y la Transformación Social
	p.cover-copy Conectando, Impulsando y potenciando Líderes sociales Emergentes