footer
  .footer-container
      .footer-logo
       a.footer-logo-container(href="index.html")
        img.footer-logo-img.u-margin-5em(src="images/Logo_PNG.png")
      .footer-texto.u-white
        | Hecha con <3 Por Prisett.com con colaboradores Bernardo Biante y Sebastián Eugenio.
      