head
    meta(charset='utf-8')
    meta(name='description', content='')
    // Por completar
    meta(name='author', content='Bernardo Biante, Federico Diaz')
    // COMPLETAR AUTORES!!
    meta(name='keywords', content='')
    link(href='https://fonts.googleapis.com/css?family=Lato', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='css/styles.css')
    link(rel='stylesheet', type='text/css', href="css/normalize.css")   
    // Revizar la fuente
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    // jmpress plugin
    // jQuery
    script(type='text/javascript', src='js/jmpress.min.js')
    // jmslideshow plugin : extends the jmpress plugin
    script(type='text/javascript', src='js/jquery.jmslideshow.js')
    script(type='text/javascript', src='js/modernizr.custom.48780.js')
    title Creer Hacer - Transformadores sociales