header.header#navbar
  nav.header-nav#nav
      label.show-menu(for="show-menu") Menu
      input#show-menu(type="checkbox" role="button")
      a.header-logo-container(href="index.html")
        img.header-logo(src="images/Logo_PNG.png")
      ul.header-list#menu
        li.header-list-item 
          a(href="index.html#planes") Casos
        li.header-list-item 
          a(href="index.html#presentacion") Que Hacemos 
        li.header-list-item 
          a(href="index.html#nosotros") Nosotros
        li.header-list-item 
          a(href="index.html#contacto") Contactanos