section.mate.noscroll-x
     .mate-logo
        img(src='images/Logo_Mate.png')
        h2 Laboratorio de transformación social
     .mate-content
        .mate-imgs.noscroll-x
            img.mate-imgs-item(src='images/img_mate1.png')
            img.mate-imgs-item.u-padding-left-right-5(src='images/img_mate2.png')
            img.mate-imgs-item(src='images/img_mate3.png')
        h3.mate-texto MATE es nuestra comunidad colaborativa un espacio donde se integran emprendedores de impacto, emprendedores barriales, empresas y org. sin fines de lucro. 
        h2.amatic Cooworking + Incubadora + Comunidad.
        a.link-inscribite(href='') VER MAS