section#presentacion.propiedades-section
      .propiedades-section
        h2.u-violeta#quehacemos Que hacemos
        img.puntos(src="images/puntos-violeta.png")
        p.presentacion-p Conocé  Nuestros programas  y sumate a la transformación social.