section.transformadores-sociales
      .img-align-transformadores
        img.img-transformadores-sociales(src='images/transformadores_sociales.png')
      .separator-orange
      .fondo-content
         .transformadores-sociales-content
          h1.transformadores-text-title.u-white Sé un Agente de Cambio
          h2.u-width-700px.u-font-weight-400.u-white.u-m-b-50
            | 8 módulos de Liderazgo, Innovacion y creatividad,
            | Comunicación y resolución de conflictos, Ser sustentable,
            | Trabajo en Equipo, Ética, Desarrollo de Talento.
          a.transformadores-button(href='') Inscribite