doctype html
html
  include templates/head.jade
  body
    include templates/header.jade
    include templates/cover.jade
    include templates/casos.jade
    include templates/presentacion.jade
    include templates/barrio-abierto.jade 
    include templates/transformadores.jade
    include templates/mate.jade
    include templates/alianzas.jade
    include templates/contacto.jade
    include templates/footer.jade
    include templates/scripts.jade