
@media (max-width: 1072px)
	.planes-cover-title
		font-size 4em
@media (max-width: 878px)
	.planes-cover-unipersonales
	.planes-cover-sociedades
	.planes-cover-monotributo
		background-position-y 0
	.planes-cover-empleados
		background-size auto
@media (max-width: 850px)
	.planes-content
		flex-flow row wrap
		&-plan
			flex-basis 50%
@media (max-width: 810px)
	.cover
		padding-top 4em
		background-size 100% auto
	.elegirnos-reason-title
		font-size 1.2em
@media (max-width: 793px)
	#menu
		position static
		display none
	/*Display 'show menu' link*/
	.show-menu
		display block
		margin 1em 1.5em
		z-index 10
		position relative
	.header
		background #ffffff
		color #504f4f
		height 60px
		&-logo
			width 70px
		&-nav
			display block
		&-logo-container
			position absolute
			left 0 
			top .2em
		&-phone
			margin 0 auto
			position absolute
			top 1em
			left 0
			right 0
		&-list
			padding 1em 0
			text-align center
			background #ffffff
			&-item
				margin 5px 0
				display block
				text-align center
				height 44px
			&-item:hover
				background #e0dede
@media (max-width: 710px)
	.cover		
		background-size 120% auto
	.elegirnos-reason-title
		font-size 1.2em
	.clientes-icon-wrap
		flex-flow row wrap
	.overlay-modal
		width 80%
@media (max-width: 680px)
	.planes-cover-title
		font-size 3em
	.planes-cover-subtitle 
		font-size 1.5em
		margin-bottom .5em
	.planes-beneficios-container
		width 80%
	.overlay-modal
		width 80%
@media (max-width: 670px)
	.cover
		&-title
			font-size 1.6em
		&-copy
			font-size 1.2em
			line-height 120%
		&-button 
			padding .6em
			width 150px	
	.elegirnos-reason
		margin .5em auto	
		&-wrap
			display block
	.servicios-content
		display block
	.u-m-r-5
		margin 0
	.suscribe-input-wrap
		width 80%
		margin 0 auto
	.suscribe-btn
		display block
		margin 1em auto
	.overlay-modal
		width 80%
@media (max-width: 550px)
	.about
		padding 0
		text-align center
	.about-copy
		&-container
			padding 0 2em
			margin 0 auto
			text-align center
	.contacto-form
		display block
	.footer-container
		display block
	.footer-condiciones
		display block
	.footer-logos-afip
		display block
		margin 1em 0em
	.footer-logos-dataweb
		display block
		margin 1em	0em	
	.planes-cover-title
		font-size 2.3em
	.planes-cover
		padding 3em 1em
	.overlay-modal
		width 80%
	.thankyou-cover-wrap
		margin 4em auto
		width 80%
@media (max-width: 490px)
	.elegirnos-button-contacto
		display block
		margin 0 auto
	.elegirnos-button-ver
		display block
		margin .6em	auto
	.clientes-icon-wrap
		display flex
		flex-direction column
	.clientes-icon-container
		width 50%
		margin auto
		margin-bottom 0.2em
	.planes-content
		display block
		&-plan
			padding 1px 3em 2em
	.suscribe-title
		font-size 1.2em
	.overlay-modal
		width 80%
@media (max-width: 460px)
	.cover
		background-image url("images/bg-header-mobile.png")
		padding 6em 1em 2em 1em
		text-align center
		&-title
			max-width 350px
			margin .5em auto
		&-copy
			max-width 350px
			margin 0 auto 1em
		&-button
			margin 0 auto
	.overlay-modal
		width 80%
@media (max-width: 400px)	
	.planes-beneficios-list
		padding 0
	.overlay-modal
		width 90%
@media (max-width: 370px)	
	.planes-cover-title
		font-size 1.8em
	.planes-cover-subtitle
		font-size 1.1em
	.planes-cover-copy
		font-size 1em
	.planes-cover
		padding-bottom 1em
	.header-logo-container
		margin-left 1em
