// CreerHacer - body General Text
body 
	background-color #F7F7F7
	text-align center
h1 
	font-size 52
	
// Header	
.header
	color white
	position fixed
	text-align center
	width 100%
	transition: all 0.3s ease;
	z-index 99
	&-nav
		display flex
		justify-content space-between
	&-logo-container
		margin 1em 3em
		justify-content flex-start
	&-logo
		width 110px
	&-list
		display inline-block
		list-style none
		text-transform uppercase
		margin 0 1.5em 
		justify-content flex-end
		&-item
			display inline-block
			padding 0 2em
			line-height 4em
		&-item:hover
			background-color #FFCD71
/*Style 'show menu' label button and hide it by default*/
.show-menu {
	text-decoration: none;
	color: #504f4f;
	text-align: right;
	display: none;
	text-transform uppercase
}

/*Hide checkbox*/
input#show-menu[type=checkbox]{
	display: none;
}

/*Show menu when invisible checkbox is checked*/
input#show-menu[type=checkbox]:checked ~ #menu{
	display: block;
}

// Cover
.cover
	background-image url("../images/bg_home.png")
	background-size cover
	background-attachment fixed
	background-repeat no-repeat
	padding 7em
	padding-top 9em
	margin 0
	text-align center
	max-width 100%
	&-title
		margin-bottom 0
		text-align center
	&-copy
		font-size 1.2em
		margin-top .5em
		line-height 150%
		color #fff
		text-align center
	&-button
		background #F5B63F
		color white
		width 200px
		text-align center
		border-radius 6px
		border none
		padding .8em
		font-size 1.2em
		font-weight 700
		display block
		align-self center
		margin 0 auto
		box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.2)
	&-button:hover 
		background-color #FFAD11
		cursor pointer
		
	
// Presentacion
#quehacemos
	margin-bottom 0.3em
.presentacion-p
	color #0E0E0E
	font-size 1.5em
	text-align  center
	margin 1em 
	padding 1em
	margin-top 0.3em
	font-weight 400
	color #A2A2A2
	
// Barrrio abierto
.bg-barrio_abierto
	background-size cover
	background-attachment fixed
	background-repeat no-repeat
	margin 0
	text-align center
	max-width 100%
.img-align
	display flex
	margin 0.8em 2.5em
.img-barrio_abierto
	max-width 240px
	justify-content flex-start
.barrio-abierto-p
	color #6B6B6B
	font-size 1.4em
	font-weight 400
.barrio-abierto-subscribite
	color #6B6B6B
	font-size 1.2em
.amatic
	font-family: 'Amatic SC', cursive;
	font-size: 2em
	
// Transformadores
.fondo-content
	background-image url("../images/bg_transformadores_sociales.png")
	background-size cover
	background-repeat no-repeat
	padding 11em 2em
	margin 0
	text-align left
	max-width 100%
	z-index 99
.bg-transformadores
	background-size cover
	background-attachment fixed
	background-repeat no-repeat
	margin 0
	text-align center
	max-width 100%
.img-align-transformadores
	display flex
	margin 0.8em 2.5em
	justify-content flex-end
.img-transformadores-sociales
	align-self flex-end
.separator-orange
	background-color #EE9661
	height 36px
	width 100%
.transformadores-button
		background #42B0A9
		color white
		width 200px
		text-align center
		border-radius 6px
		border none
		padding .5em
		font-size 1.6em
		font-weight 700
		display block
		box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.2)
.transformadores-button:hover 
		background-color #2AC6BC
		cursor pointer
.transformadores-text-title
	font-size 52
// Casos
.casos-button
	background #EE9661
	color white
	width 200px
	text-align center
	border-radius 6px
	border none
	padding 1em
	font-size 1em
	font-weight 700
	display block
	box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.2)
	margin-top 15em
	z-index -99
.casos-button:hover 
	background-color #FFA067
	cursor pointer
.casos-container
	display flex
	flex-wrap row
	justify-content center
	padding 2em 0em
	max-width 100%
.casos-container-img
	z-index -99
	display flex
	justify-content center
	position relative
.casos-container-item-left
	position absolute
	text-align left
	padding 1em
.casos-container-item-right
	position absolute
	text-align right
	padding 1em
.casos-img
	width 400px
		
// Mate
.mate
	padding-top 2em
.mate-texto
	color #0E0E0E
	font-size 1.35em
	max-width 700px
	text-align center
	margin 0 auto
	margin-top 0.3em
.mate-imgs
	display flex
	padding 0px
	justify-content center
	&-item
		justify-content flex-wrap
		max-width 450px
// Alianzas
// Contacto
#contacto
	padding 3em 4em
	display flex
	justify-content space-around
.contacto-item
	flex-direction row
.contacto-form
	max-width 500px
	text-align left
.contact-message
	max-width 500px
.contacto-map-info
	margin 1em
.contacto-formulario-container
	margin 0.5em 1em
.contacto-title
	text-align left
.contacto-form-label
	text-align left
.contacto-form-input
	border-radius 6px
	border 1px
	padding 0.4em 6em
	font-size 1.2em
	font-weight 700
	display block
.contacto-button
		background #EE9661
		color white
		text-align center
		border-radius 6px
		border none
		padding 0.6em 10.3em
		font-size 1.2em
		font-weight 400
		display block
		box-shadow: 0px 7px 10px 0px rgba(0,0,0,0.2)
.contacto-button:hover 
		background-color #FFA067
		cursor pointer
	
// Footer
footer 
	background-color #6C6C6C 
.footer-container
	padding 1em 
	display  flex
	justify-content space-around
.footer-logo-container
	margin 1em 3em
.footer-logo-img
	width 110px
.footer-logo
	flex-direction row
.footer-texto
	font-size 14px
	flex-direction row
	margin 1.5em
.footer-redes
	padding-bot 1em

// Utilities
.puntos
	max-width 40px
.u-padding-0
	padding 0em
.u-padding-left-right-5
	padding-left 0.5em
	padding-right 0.5em
.u-margin-0
	margin 0em
.u-margin-5em
	margin .5em
.u-white
	color #fff
.u-font-weight-400
	font-weight 400
.u-width-700px
	max-width 700px
.u-width-400px
	max-width 400px	
.u-violeta
	color #D00155
.u-green
	color #70CBC1
.u-backgroundcolor-green
	background-color #70CBC1
.u-ico	
	display inline-block
	margin-right .8em
.u-m-t-5
	margin-top 5px	
.u-m-r-5
	margin-right 5px
.u-m-b-5
	margin-bottom 5px
.u-m-b-50
	margin-bottom 50px
.u-dark-back
	background #f5b63f
	color #fff
	height 4em
	box-shadow: 0px 7px 10px 0px rgba(251,180,63,0.2)
.u-underlined 
	text-decoration underline
.u-m-l-n2
	margin-left -2em
.u-right
	margin-left 13em
.display-none
	display none
.anchor
	display inline-block
	height 72px 
	margin-top -72px 
	visibility hidden
.noscroll-y
	overflow-y hidden
.noscroll-x
	overflow-x hidden
